<!DOCTYPE html>
<html lang="en">
<head>
	<meta charset="UTF-8">
		<title>Final</title> 
		<link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/foundation-sites@6.6.3/dist/css/foundation.min.css" integrity="sha256-ogmFxjqiTMnZhxCqVmcqTvjfe1Y/ec4WaRj/aQPvn+I=" crossorigin="anonymous">
		<script src="https://cdnjs.cloudflare.com/ajax/libs/jquery/3.2.1/jquery.min.js"></script>
		<link rel="stylesheet" type="text/css" href="/stylesheets/style.css">
	</head>
<body>  
	
 <div class="hero-section">
  <div class="hero-section-text">
    <h1>LEISURE FOR YOU</h1>
    <h5>Everything</h5>
  </div>
</div>

    {{{ body }}}   

	<script type="text/javascript" src="/js/login.js"></script>	 
	<script type="text/javascript" src="/js/signup.js"></script> 
	<script type="text/javascript" src="/js/members.js"></script> 
	<script type="text/javascript" src="/js/albums.js"></script>
	<script type="text/javascript" src="/js/movies.js"></script> 
 			
</body>
</html> 



