<div class="grid-container">
  <div class="grid-x">
    <div class="cell medium-6">
      <div class="translucent-form-overlay">
              <form class="signup">
                <h3 class="text-center">Sign Up Here</h3>
                  <div class="row columns">
                    <label>Email Address
                      <input type="email" class="form-control" id="SUemail-input" placeholder="Email" name="email">
                    </label> 
                  </div>
                  <div class="row columns">
                    <label>Password
                      <input type="password" class="form-control" id="SUpassword-input" placeholder="Password"name="password">
                  </label> 
                  </div>
                  <button type="submit" class="warning button expanded search-button">Sign Up!</button>
                </form>
                </div>
    </div> 
    <div class="cell medium-6">
       <div class="translucent-form-overlay">
              <form class="login">
                <h3 class="text-center">Login Here</h3>
                  <div class="row columns">
                    <label>Email Address
                      <input type="email" class="form-control" id="LIemail-input" placeholder="Email" name="email">
                    </label> 
                  </div>
                  <div class="row columns">
                    <label>Password
                      <input type="password" class="form-control" id="LIpassword-input" placeholder="Password" name="password">
                  </label> 
                  </div>
                  <button type="submit" class="primary button expanded search-button">Login!</button>
                </form>
                </div>
    </div>
  </div>
</div> 

       
  
  
  
  



 